

<h2 class="title">Détail du patient</h2>

<div class="detail">
    <div class="flex">
        <div>
            <h3>Nom et prénom :</h3>
            <p><%= user.nom  %> <%= user.prenom   %></p>
        </div>
        <div>
            <h3>Spécialité :</h3>
            <p><%= user.spec  %> </p>
        </div>
       
    </div>


    <div class="flex">
        <div>
            <h3>Téléphone :</h3>
            <p><%= user.phone  %> </p>
        </div>
    
        <div>
            <h3>Email:</h3>
            <p><%= user.email %></p>
        </div>
    </div>
  
    <div class="flex">
        <div>
            <h3>Adresse:</h3>
            <p><%= user.adresse  %></p>
        </div>
    </div>

</div>