<h2>Patients</h2>
<p>Ci-dessous sont listés les nouveaux patients</p>
<form class="form-search">
    <label for="patient">Patient(s)</label>
    <input type="text" id="patient" placeholder="email">
    <select name="" id="type">
        <option value="">Recent</option>
        <option value="nouveau">Nouveau</option>
        <option value="ancien">Ancien</option>
    </select>
    <button class="btn">Filtrer</button>
</form>
<div id="patients">
    <% patients.forEach(function(item) { %>
        <!-- Ici, vous pouvez accéder à chaque item de dataArray -->
        <div  id="patient_<%= item._id  %>" class="<%= item.confirme == 1 ? 'accepted patient' : 'patient' %>"  >
            <div >
                <a href="patient/detail?id=<%= item._id  %>"><h3><%= item.nom + " " + item.prenom  %></h3></a>
                <small><%= item.createdAt  %></small><br>
                <% if(item.confirme == 0){ %>
                    <select id="traitant_<%= item._id  %>">
                        <% medecins.forEach(function(medecin) { %>
                            <option value="<%= medecin._id  %>"><%= medecin.nom + " " + medecin.prenom  %></option>
                        <% }) %>
                    </select>
                <% } %>
            </div>
            <% if(item.confirme == 0){ %>
            <div id="control_<%= item._id  %>" >
                <button class="accept" onclick="AcceptUser('<%= item._id %>')">Accepter</button>
                <button class="decline" onclick="DeclineUser('<%= item._id %>')">Refuser</button>
            </div>
            <% } %>
        </div>
    <% }) %>
      
    
</div>


<script>
    const AcceptUser = (id)=>{
        $('#control_'+id).find('.accept').text('En cours...')
        $.ajax({
            type:'POST',
            url:'/accept-user',
            data:{id, traitant:$('#traitant_'+id).val()},
            success:(res)=>{
                if(res.done){
                    $('#traitant_'+id).hide()
                    $('#control_'+id).hide()
                    $('#patient_'+id).css({"border-left":"3px solid green"})
                }
            }
        })
    }

    const DeclineUser = (id)=>{
        $('#control_'+id).find('.decline').text('En cours...')
        $.ajax({
            type:'POST',
            url:'/decline-user',
            data:{id},
            success:(res)=>{
                if(res.done){
                    $('#patient_'+id).slideUp(200)
                }
            }
        })
    }
</script>